<form action="/answer">
  <label for="ask_coach">Hello, I am your coach, what did you want to tell me?</label><br>
  <input type="text" name="ask_coach" placeholder="ask a question" value="<%= params[:ask_coach] %>">
  <input type="submit" value="Ask!">
</form>
